<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passport</title>
</head>
<body>
    <h1>Login</h1>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form method="post" action="/login">
        <input type="text" id="email" name="email">
        <input type="password" id="passowrd" name="password">
        <button type="submit">register</button>
    </form>
    <a href="/register">user register</a>
</body>
</html>